

p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

html, body {width:100%; padding:0; margin:0;}

body {
    background-image: url(../css/1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color:#fff;
    position: relative;}


.content-box {}
.content-box .wrap-box {padding: auto; position: relative;}

.box-text{padding: 60px;}

.single-post{}
.single-post .wrap-post {padding:50px; position: relative;}
article.single-post {padding-left: 30px; padding-right: 30px}

article.single-post .wrap-post {
    padding:60px 30px;
    position: relative;
    margin-top: 70px;}

article{
    background: #ffffff;
    color: #3F3F3F;
    margin: 0;
    padding: 0 30px 50px;}


article .entry-header{margin-bottom: 30px;}
article.single-post .entry-header{margin-bottom: 30px;text-align: center;}

article.single-post .entry-header .h {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    text-transform: uppercase;
    line-height: 1.1}

article.single-post .entry-header .h a {color: #000000;margin: 0;}
article.single-post .entry-header .hh {
    font-size: 15px;
    font-weight: 100;
    margin: 0;
    text-transform: uppercase;
    line-height: 1.1}

article.single-post .entry-header .hh a {color: #333333;margin: 0;}

article .entry-header .time {
    font-family: "Merriweather",Georgia,serif;
    color: #888;
    font-size: 17px;
    padding-bottom: 10px;
    display: block;}


article .entry-header {display: block;}
article .entry-header a{
    padding: 3px 8px 1px;
    background: #131313;
    line-height: 20px;}

article.single-post .entry-header {margin-bottom: 70px;}

article .img {
    background-image: url(../css/z.png);
    width: 615px;
    height: 193.5px;
    display: block;
    background-position: center center;}

article .code {
    font-family: monospace;
    font-size: 20px;
    cursor: default;
    text-align: center;
    margin-top: 20px}

article .text {
    font-size: 18px;
    color: #000000;
    text-align: left;
    margin-bottom: 20px}

article .note {
    font-size: 18px;
    color: #000000;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 20px;}

article .num {
    font-size: 18px;
    color: #000000;
    text-align: right;
    position: static}

article .subjects {
    font-size: 19px;
    color: #000000;
    text-align: left;
    position: static}

article .column {
    -webkit-columns: 300px 2;
    -moz-columns: 300px 2;
    columns: 300px 2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    -webkit-column-rule: 1px solid #ccc;
    -moz-column-rule: 1px solid #ccc;
    column-rule: 1px solid #ccc;}

.zerogrid {
    width: 1000px;
    position: relative;
    margin: 0 auto;
    padding: 0px;}

@media only screen and (max-width: 959px) and (min-width: 768px)
.zerogrid {
    width: 768px;}


footer .footer{padding: 60px;background: rgba(0, 0, 0, .8);}
footer .footer ul li {margin-bottom: 50px; padding: 50px 15px;}


